

h1 {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  padding-bottom: 0;
  line-height: 1.1;
  font-size: 2.5rem;
}
h1, h2, .Typography-pageTitle, .Typography-slidesPageHeader {
  display: inline-block;
  font-family: Google Sans , Roboto , sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}